[Unit]
Description=DMART backend service
After=network.target

[Service]
WorkingDirectory=%h/dmart/backend
ExecStart=%h/dmart/backend/main.py
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
