__pycache__
logs
.vscode
.coverage
**/*.log
node_modules
.routify
.DS_Store
*.tgz
login_creds.sh
*.swp
mycookies.jar
config.ini

.env
secrets.env
backend/config.env
workspace.xml
settings.json
backend/version.txt
run
/trash/
/dist/
**/.history
src/tmp/
# spaces/
.python-version
*-workspace
sample/spaces/eser
history.jsonl
events.jsonl
sample/spaces/management/health_check/**
sample/spaces/dummy/**
sample/spaces/startappz/**
.idea/
