__pycache__
logs
.vscode
.coverage
**/*.log
node_modules
frontend/yarn.lock
.routify
.DS_Store
*.tgz
login_creds.sh
*.swp
mycookies.jar
config.ini
cli.ini

.env
.venv
backend/env/
secrets.env
backend/config.env
workspace.xml
settings.json
backend/version.txt
run
/trash/
/dist/
**/.history
src/tmp/
# spaces/
.python-version
*-workspace
sample/spaces/eser
history.jsonl
events.jsonl
sample/spaces/management/health_check/**
sample/spaces/dummy/**
sample/spaces/maqola/**
sample/spaces/management/users
sample/spaces/startappz/**
.idea/
pos-spaces/
spaces/


backend/dist
backend/build
backend/dmart.egg-info