APP_URL="http://0.0.0.0:8282"
JWT_SECRET="ABC"
JWT_ALGORITHM="HS256"
LOG_FILE="../../logs/dmart.ljson.log"
WS_LOG_FILE="../../logs/websocket.ljson.log"
SPACES_FOLDER="../sample/spaces/"
BASE_PATH=""
MANAGEMENT_SPACE="management"
LISTENING_HOST="0.0.0.0"
LISTENING_PORT=8282
LOCK_PERIOD=180
mock_smtp_api=True
mock_smpp_api=True
IS_REGISTRABLE=True

REDIS_HOST="127.0.0.1"
REDIS_PASSWORD=""
REDIS_PORT=6379

ACTIVE_DATA_DB="file"  # allowed values: file, sql
DATABASE_DRIVER="postgresql"
DATABASE_USERNAME="postgres"
DATABASE_PASSWORD="postgres"
DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_NAME="dmart"
