APP_URL='http://0.0.0.0:8282'
JWT_SECRET='ABC'
JWT_ALGORITHM='HS256'
PUBLIC_APP_URL=''
WEBSOCKET_URL='http://127.0.0.1:8484'
WEBSOCKET_PORT=8484
BASE_PATH=''
DEBUG_ENABLED=True
LOG_FILE='../logs/dmart.ljson.log'
WS_LOG_FILE='../logs/websocket.ljson.log'
JWT_ACCESS_EXPIRES=2592000
LISTENING_HOST='0.0.0.0'
LISTENING_PORT=8282
REDIS_HOST='127.0.0.1'
REDIS_PASSWORD=''
REDIS_PORT=6379
MANAGEMENT_SPACE='management'
USERS_SUBPATH='users'
LOCK_PERIOD=180
SERVERNAME=''
AUTO_UUID_RULE='auto'
GOOGLE_APPLICATION_CREDENTIALS=''
DEFAULT_BRANCH='master'
MANAGEMENT_SPACE_BRANCH='master'
ALL_SPACES_MW='__all_spaces__'
ALL_SUBPATHS_MW='__all_subpaths__'
CURRENT_USER_MW='__current_user__'
ROOT_SUBPATH_MW='__root__'
EMAIL_SENDER='dmart@dmart.com'
OTP_TOKEN_TTL=120
COMMS_API=''
MOCK_SMTP_API=True
MOCK_SMPP_API=True
INVITATION_LINK=''
LDAP_URL='ldap://'
LDAP_ADMIN_DN=''
LDAP_ROOT_DN=''
LDAP_PASS=''
