APP_URL='http://0.0.0.0:8282'
JWT_SECRET='ABC'
JWT_ALGORITHM='HS256'
LOG_PATH="../../logs/"
LOG_FILENAME='x-ljson.log'
SPACES_FOLDER='../../spaces/'
BASE_PATH='/'
MANAGEMENT_SPACE='management'
LISTENING_HOST='0.0.0.0'
LISTENING_PORT=8282
REDIS_PASSWORD="xxx"
LOCK_PERIOD=180
