# python-json-logger
# json_logging
fastapi
pydantic
pydantic[email]
concurrent-log-handler
hypercorn
pyjwt
redis
aiofiles
aiohttp
python-multipart
jsonschema
email-validator
passlib[bcrypt]
bcrypt
jq
segno
jinja2
asgi-correlation-id
pydantic-settings
