html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
  scrollbar-color: darkgrey aliceblue;
  overflow: hidden;
}

#routify-app {
	width: 100%;
	height: 100%;
}

* {
    scrollbar-width: thin;
}

