<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Email</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  </head>
  <body style="margin: 0; padding: 0">

    <p>Hi {{name}}</p>
    <p>MSISDN: {{msisdn}}</p>
    <p>Username: {{shortname}}</p>

    <p>Welcome, we're happy to see you on board!</p>

    <p>Only Few steps are left to activate your account, please use the below account activation link.</p>

    <p>Activation Link:</p>

    <a href="{{ link }}">{{ link }}</a>

    <p>Regards,</p>

  </body>
</html>