<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Email</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    </head>
    <body style="margin: 0; padding: 0">
        <p>Hi {{ name }},</p>
        <p>We would like to remind you to activate your account. We will be happy to see you on board!</p>
        <p>Few steps are left to activate your account, please use the below account activation link.</p>
        <p>Activation Link:</p>
        {{ link }}
        <p>Regards,</p>
    </body>
</html>