[Unit]
Description=DMART websocket service
After=network.target

[Service]
WorkingDirectory=%h/dmart/backend
ExecStart=%h/dmart/backend/websockets.py
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
