{
  auto_https disable_redirects
  local_certs
}

http://localhost:8000, https://localhost:4443 {
	handle /dmart/openapi.json {
		reverse_proxy localhost:8282
	}

	handle /dmart* {
		uri strip_prefix /dmart
		reverse_proxy localhost:8282
	}
	handle /dmart/docs* {
		reverse_proxy localhost:8282
	}
	handle /ws {
		reverse_proxy localhost:8484
	}
	handle /ws-api/* {
		uri strip_prefix /ws-api
		reverse_proxy localhost:8484
	}

  handle /cxb/* {
          reverse_proxy localhost:8282
  }

	handle /* {
    redir /* /cxb/
	}

	log {
		output file /home/logs/caddy.log {
			roll_size 1gb
			roll_keep 5
			roll_keep_for 720h
		}
		format json
	}
}
